body{
  background-image: url(fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}
h1{
  color: red;
  font-family: verdana;
  font-size: 500%;
  text-align: center;
}
h2{
  color: black;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}
li{
  color: red;
  font-family: verdana;
  font-size: 300%;
}
img{width: 9%
}
